.wall{
    background-color:black;
    height: 25px;
    width: 25px;
 }

 .path{
     background-color:white;
     height: 25px;
     width: 25px;
 }
 .hollow{
     background-color:red;
     height: 25px;
     width: 25px;
 }
 #exit{
     
     height: 25px;
     width: 25px;
 }
 #start{
     background-color:green;
     height:25px;
     width:25px;
 }
 img{
     height: 25px;
     width: 25px;
 }
 .point{
     height:25px;
     width:25px;
     background-color:silver
 }
 .sword{
     background-color:blue;
     height: 25px;
     width: 25px;
 }